// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #FFD74F !default;
$header-bg-color-secondary: #806C28 !default;

// Text
$section-headings-color: #FFD74F !default;
$body-text-color: #201B0A !default;
$body-link-color: #BFA13B !default;
$blockquote-text-color: #60511E !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #60511E !default;

// Borders
$border-color: #DFBC45 !default;
$table-border-color: #DFBC45 !default;
$hr-border-color: #DFBC45 !default;
